.sidebar .content {
  background: #ffffff;
  width: 290px;
  position: relative;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9;
  overflow-y: auto;
}

.sidebar .content::-webkit-scrollbar {
  display: none;
}

.sidebar .menus .item {
  display: flex;
  align-items: center;
  position: relative;
}

.sidebar .menus .item.active a,
.sidebar .menus .item:hover a {
  color: #0c145a;
  font-weight: 500;
}

.sidebar .menus .item.active > svg path,
.sidebar .menus .item:hover > svg path {
  transition: all 0.2s linear;
  stroke: #4d17e2;
}

.sidebar .menus .item.active::after {
  content: " ";
  border: 2px solid #00baff;
  border-radius: 999px;
  width: 0px;
  height: 100%;
  position: absolute;
  background-color: #00baff;
  right: 0;
  transition: all 0.2s linear;
}

.sidebar .menus .item a {
  color: #7e8cac;
  transition: all 0.2s linear;
}

.sidebar-footer .footer-card {
  background-color: #f9faff;
  border-radius: 1rem;
  padding: 20px;
}

.sidebar-footer .btn-get-started {
  background-color: #4d17e2;
  padding: 0.438rem;
}

.profile-photo {
  width: 90px;
  height: 90px;
  border-radius: 100%;
  object-fit: cover;
}

.sidebar .bottom-bar {
  display: none;
}

@media (min-height: 900px) {
  .sidebar .content {
    overflow-y: hidden;
  }
}

@media (max-width: 768px) {
  .sidebar .content {
    display: none;
  }

  .sidebar .bottom-bar {
    z-index: 10;
    width: 100%;
    display: block;
    position: fixed;
    height: 120px;
    padding: 20px;
    bottom: 0;
    left: 0;
    box-sizing: border-box;
  }

  .sidebar .bottom-bar .wrapper {
    background-color: #ffffff;
    border: 2px solid #b9b9b9;
    height: 100%;
    border-radius: 20px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }

  .sidebar .bottom-bar .wrapper .menu-item a {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #b9b9b9;
    text-decoration: none;
    font-size: 14px;
  }

  .sidebar .bottom-bar .wrapper .menu-item.active a {
    color: #4d17e2;
    font-weight: 500;
  }

  .sidebar .bottom-bar .wrapper .menu-item.active a::after {
    content: " ";
    border: 2px solid #4d17e2;
    border-radius: 999px;
    width: 40px;
    height: 0;
    background-color: #4d17e2;
    transition: all 0.2s linear;
    bottom: 0;
    margin: 0 auto;
  }

  .sidebar .bottom-bar .wrapper a .img {
    width: 60px;
  }
}
